
 #bigdeal {
    font-weight:bolder !important;
    font-style: italic;
   
}
h1{
    text-align: center;
    background-color: tan;
}
#headBold{
    font-weight: bold;
    background-color: lightgray;
}
h3 {
    background-color: lightgray;
}
#txtShadow {
    text-shadow: 2px 2px 2px red;
}
body {
    font-family: "Oswald", sans-serif;
    font-weight:lighter;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border: 1px solid red;
    float: left;
    width: 100%;
   
  }
  .container1 >p>img{
    flex: 1 1 150px;
    width:100%;
    height: 100%;
    object-fit: cover;
    float: left;
    border: 1px solid red;
    position: relative;
   
  }
  .container1 >p {
    width: 40%;
    float: left;
    border: 1px solid red;
    position: relative;
  }
 
  