.footerbg {
    background-color: lightblue;
    width: 100%;
    float: left;
}

.footer {
    background-color: lightyellow;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: bold;
}


.copy {
    text-align: center;

}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  